/* Large desktop */
@media (min-width: 1200px) { ... }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
 }
 

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  body {
  	margin: 0;
  	padding: 0;
  }
  .ah-logo {
    max-width:70%;
    background: url('../img/AHnotag.png') 0 0 no-repeat;
    background-position: center center;
    width: 504px;
    height: 90px;
    z-index: 10;
    background-size: contain;
  } 
  .ah-hamburger {
  	visibility: visible;
  	position:absolute;
    height:35px;
    width:35px;
  	right: 10%;
  	top: 30px;
  	background: rgb(175,175,175);
  	border:none;
  	border-radius: 3px;
  }
  .ah-page-links{
    width:100%;
  	text-align:center;
  	display: block;
    top: 100px;
  	line-height:30px;
    margin: 0;
  }
  .ah-link {
  	display: block;
    margin: 0;
  }
  .ah-nav {
    opacity: .95;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {

}

